body{
    background-color: #0f121f;
    background-image: url(/static/stars.jpeg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    color: #fff;
}


body *{
    font-family: Ubuntu;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}

a,a:hover,a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
    position: absolute;
    top: 0;
    right: 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    
    margin-left: 20px;
}
nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

}

.blog{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

.blog h2{
    font-size: 1.2em;
}

.blog-detail .blog{
    padding: 0;
}

.blog-detail .blog img{
    max-width: 300px;
    max-height: 200px;
}

.blog-detail .blog h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}

.blog-detail .blog p{
    text-align: center;
    
}

.blog .author{
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}

.site-form{
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}

.errorlist{
    padding: 0;
    

}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;
}
/* Stil sayfanızın style.css dosyasında bulunmalıdır */
.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.profile-heading {
    color: #333;
}
  
.profile-form-container {
    margin-bottom: 20px;
}
  
.profile-form {
    display: flex;
    flex-direction: column;
}
  
.form-group {
    margin-bottom: 15px;
}
  
label {
    font-weight: bold;
    color: #333;
}




  
/* Buton stilini güncelle */
/* Buton stilini güncelle */
/* Buton stilini güncelle */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: 1px solid #4CAF50; /* Kutucuklu hale getirmek için kenarlık ekleyin */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Renk değişimine animasyon ekleyin */
}

.btn:hover {
    background-color: #45a049; /* Fare üzerine gelince renk değiştirin */
    border: 1px solid #45a049; /* Fare üzerine gelince kenarlık rengini değiştirin */
}



  
.btn-primary {
    background-color: #3498db;
}
  
.user-info-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}
  
.user-info-heading {
    color: #333;
}
  
.user-info-list {
    list-style-type: none;
    padding: 0;
}
  
.user-info-list li {
    margin-bottom: 10px;
}


  /* Yeşil renkte kenarlık ekleme */
a.green-border {
    border: 1px solid #4CAF50;
    padding: 8px; /* Opsiyonel olarak butonlara biraz iç boşluk ekleyebilirsiniz */
    border-radius: 4px;
    transition: border-color 0.3s ease; /* Renk değişimine animasyon ekleyin */
}

a.green-border:hover {
    border: 1px solid #45a049; /* Fare üzerine gelince kenarlık rengini değiştirin */
}

  