{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'blogs:create' %}" class="btn highlight">Create Blog</a></li>
                        <li><a href="{% url 'user_profile' %}" class="btn">My Profile</a></li>
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn">Logout</button>
                            </form>
                        </li>
                        <li>Welcome {{ user.username }}</li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}" class="btn green-border">Login</a></li>
                        <li><a href="{% url 'accounts:signup' %}" class="btn green-border">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
