{% extends 'base.html' %}

{% block content %}
  <div class="profile-container">
    <h2 class="profile-heading">User Profile</h2>

    <div class="profile-form-container">
      <form method="post" class="profile-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.first_name.id_for_label }}">First Name:</label>
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
          {{ form.last_name }}
        </div>
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email:</label>
          {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>

    <div class="friend-list">
      <h3>Friends:</h3>
      <ul>
        {% for friend in friends %}
          <li>{{ friend.user.username }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="add-friend">
      <h3>Add Friend:</h3>
      <ul>
          {% for user in all_users %}
              <li>{{ user.username }} <a href="{% url 'accounts:add_friend' user.id %}" class="btn btn-primary">Add Friend</a></li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
