{% extends 'base.html' %}




{% block content %}

<div class="blog_detail">

        {% if can_edit %}
            <!-- Eğer kullanıcı blogu düzenleme izinlerine sahipse, "Edit" (Düzenle) ve "Delete" (Sil) butonları görünecek -->
            <a href="{% url 'blogs:edit' blog.slug %}" class="btn btn-primary">Düzenle</a>
            <a href="{% url 'blogs:delete' blog.slug %}" class="btn btn-danger" onclick="return confirm('Bu blogu silmek istediğinizden emin misiniz?')">Sil</a>
        {% endif %}

    <div class="blog">
        
        

        <img src="{{blog.thumb.url}}">
        <h2>{{blog.title}}</h2>
        <p>{{blog.body}}</p>
        <p>{{blog.date}}</p>

    </div>

    <div>
        <h3>Comments</h3>
        <ul>
          {% for comment in blog.comments.all %}
            <li>{{ comment.user.username }}: {{ comment.text }}</li>
          {% endfor %}
        </ul>
      </div>
  
      {% if user.is_authenticated %}
        <h3>Add a Comment</h3>
        <form method="post" action="{% url 'blogs:comment_create' blog.slug %}">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <button type="submit">Add Comment</button>
        </form>
      {% else %}
        <p>Login to add a comment.</p>
      {% endif %}



</div>

{% endblock %}