{% extends 'base.html' %}




{% block content %}

<div class="blog_detail">

        {% if can_edit %}
            <!-- Eğer kullanıcı blogu düzenleme izinlerine sahipse, "Edit" (Düzenle) ve "Delete" (Sil) butonları görünecek -->
            <a href="{% url 'blogs:edit' blog.slug %}" class="btn btn-primary">Düzenle</a>
            <a href="{% url 'blogs:delete' blog.slug %}" class="btn btn-danger" onclick="return confirm('Bu blogu silmek istediğinizden emin misiniz?')">Sil</a>
        {% endif %}

    <div class="blog">
        
        

        <img src="{{blog.thumb.url}}">
        <h2>{{blog.title}}</h2>
        <p>{{blog.body}}</p>
        <p>{{blog.date}}</p>

    </div>

   <!-- Yorumlar -->
   <h3>Comments</h3>
   {% for comment in comments %}
       <p>{{ comment.user.username }} - {{ comment.text }}</p>
   {% endfor %}

   <!-- Yorum ekleme formu -->
   <h3>Add Comment</h3>
   <form method="post" action="{% url 'blogs:comment_create' blog.slug %}">
       {% csrf_token %}
       {{ comment_form.as_p }}
       <button type="submit">Add Comment</button>
   </form>



</div>

{% endblock %}